.dashboard {
    background-color: #FEFEFE;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    background-image: url("https://images.unsplash.com/photo-1639580133969-48cbbce72e1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGxhdW5kcnl8ZW58MHx8MHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 600px 750px;
  background-attachment: fixed;
  background-position: right bottom; 
}

.location-header {
    font-size: 14px;
    color: #181818;
    line-height: 6px;
    letter-spacing: 2px;

}
.welcome-admin {
    font-size: 55px;
    line-height: 52px;
    color: #0D1E2D;
    font-weight: 500;
    display: inline-block;
}

.Desc-header {
    font-size: 25px;
    color: #0D1E2D;
    font-weight: 400;
    line-height: 30px;
}

.link {
    font-weight: 500;
    color: #0D1E2D;
    font-size: 21px;
    position: right bottom;
}

.level {
    font-weight: bold;
    color: #3633C6;
    display: inline-block;
}

/* .content {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
} */

.logo {
    margin-top: -30px;
}

.header {
    margin-left: 20px;
    display: inline-block;
    line-height: 18px;
}

.namasekolah {
    font-weight: bold;
    color: #040E28;
}

.email {
    color: #B3B8C3;
    text-decoration: none;
}

.address {
    color: #B3B8C3;
    text-align: right;
    line-height: 8px;
    display: inline-block;
    float: right;
    font-size: 15px;
}

.box {
    background-color: #4E4DA6;
    max-width: 1250px;
    height: 215px;
    margin-top: 35px;
    border-radius: 20px;
    padding: 35px;
    color: white;
}

.desc {
    color: #B3B8C3;
    font-size: 14px;
    line-height: 20px;
}

.illus {
    float: right;
}